---
import Container from "./Container.astro";

---

<div id="solution" >
    <Container>     

      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://swym.it/wp-content/uploads/2021/01/wishlist_hp-1024x780.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Full-featured Wishlist

          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Enables customers to bookmark their favorite products and pick up where they left off when they return. And they spend a lot more! Wishlist Plus users’ conversion rates are 20 to 30% higher and they spend 30 to 50% more per purchase.</p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
               <img src="https://swym.it/wp-content/uploads/elementor/thumbs/user-ok082hgvzcy4tns8jhdzhxk4xsahvkasiivteqbegw.png" alt="">       
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Run personalized marketing campaigns out of the box

                </h3>
                <p class="text-gray-500 dark:text-gray-400"> via email, Facebook and Instagram based on wishlist activity.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <img src="https://swym.it/wp-content/uploads/elementor/thumbs/wishlist-1-ojq9alvgge32mutf70uwdpisb30b0q5sev5tn2tf5s.png" alt="">                                     
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Advanced functionality like support </h3>
                <p class="text-gray-500 dark:text-gray-400">for multiple wishlists out of the box.

                </p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <img src="https://swym.it/wp-content/uploads/elementor/thumbs/fashion-ojqb8lwrf7wt9f4xfs5okjlkx3zd9925pc6l9x0xs0.png" alt="">                                     
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">You choose whether to enable for anonymous shoppers </h3>
                <p class="text-gray-500 dark:text-gray-400">or limit to logged in shoppers only.

                </p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <img src=https://swym.it/wp-content/uploads/elementor/thumbs/connector-ojq9zfryzu2rc0qz7993qxy58imdcvqitrkl1800sg.png" alt="">                                     
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Share wishlists </h3>
                <p class="text-gray-500 dark:text-gray-400">with friends and family via email and social media.

                </p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>

    <Container >    
      
      <div class="space-y-6 pt-10 justify-between text-gray-600 md:flex flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://swym.it/wp-content/uploads/2021/01/back_in_stock_hp.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Back in Stock and Preorder Alerts
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Enable shoppers to sign up for back in stock and preorder notifications. Automatically notify them when products are back in stock. Shoppers love this feature and you’ll love it even more. With 30 to 35% click-through rates on alerts and 20% conversion on alert traffic what’s not to love?  </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
                </svg>        
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Chat Anytime</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>                                      
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Real Time Location</h3>
                <p class="text-gray-500 dark:text-gray-400">Asperiores nemo possimus nesciunt quam mollitia.</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>


    <Container>
     
      
      <div class="space-y-10  justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="https://swym.it/wp-content/uploads/elementor/thumbs/Group-588-pa26npeigniq5mbd8ee2a0sts2wgf6n6zyand651gw.png"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Insights and Analytics


          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Smart dashboard providing you metrics and reports of the app activities on your store.

 </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
               <img src="https://swym.it/wp-content/uploads/elementor/thumbs/dashboard-1-ojqbeja4im0wgwiztudzsjr7rkrosjl86o9t7q8kjk.png" alt="">   
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Intuitive dashboard provides the high level metrics you need to understand

                </h3>
                <p class="text-gray-500 dark:text-gray-400">&  how the Swym features are performing on your site.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <img src="https://swym.it/wp-content/uploads/elementor/thumbs/whiteboard-ok0bforp8av5vjqasvg60chugewcejgsif7r56lw5c.png" alt="">                                    
              </div>
              <div class="w-5/6">
                <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Detailed reports provide easy access to the customer

                </h3>
                <p class="text-gray-500 dark:text-gray-400"> & product information you need to support your business.</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
 
</div>